# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# Next.js
.next/
out/
build/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/dist
/public/pages.xml
.next/app-path-routes-manifest.json
.next/build-manifest.json
.next/BUILD_ID
.next/cache/.previewinfo
.next/cache/.rscinfo
.next/prerender-manifest.json
.next/required-server-files.js
.next/required-server-files.json
.next/server/app-paths-manifest.json
.next/server/app/_global-error.html
.next/server/app/_global-error.rsc
.next/server/app/_global-error.segments/_full.segment.rsc
.next/server/app/_global-error.segments/_head.segment.rsc
.next/server/app/_global-error.segments/_index.segment.rsc
.next/server/app/_global-error.segments/_tree.segment.rsc
.next/server/app/_global-error/page_client-reference-manifest.js
.next/server/app/_not-found/page.js
.next/server/app/_not-found/page.js.nft.json
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/about-us/page.js
.next/server/app/about-us/page.js.nft.json
.next/server/app/about-us/page_client-reference-manifest.js
.next/server/app/accounts/annual-accounts/page.js
.next/server/app/accounts/annual-accounts/page.js.nft.json
.next/server/app/accounts/annual-accounts/page_client-reference-manifest.js
.next/server/app/accounts/auto-enrolment-pension-contributions/page.js
.next/server/app/accounts/auto-enrolment-pension-contributions/page.js.nft.json
.next/server/app/accounts/auto-enrolment-pension-contributions/page_client-reference-manifest.js
.next/server/app/accounts/bookkeeping-services/page.js
.next/server/app/accounts/bookkeeping-services/page.js.nft.json
.next/server/app/accounts/bookkeeping-services/page_client-reference-manifest.js
.next/server/app/accounts/cash-flow-forecasting/page.js
.next/server/app/accounts/cash-flow-forecasting/page.js.nft.json
.next/server/app/accounts/cash-flow-forecasting/page_client-reference-manifest.js
.next/server/app/accounts/consolidated-accounts/page.js
.next/server/app/accounts/consolidated-accounts/page.js.nft.json
.next/server/app/accounts/consolidated-accounts/page_client-reference-manifest.js
.next/server/app/accounts/financial-forecasting/page.js
.next/server/app/accounts/financial-forecasting/page.js.nft.json
.next/server/app/accounts/financial-forecasting/page_client-reference-manifest.js
.next/server/app/accounts/hmrc-self-assessment-tax-returns-accountant/page.js
.next/server/app/accounts/hmrc-self-assessment-tax-returns-accountant/page.js.nft.json
.next/server/app/accounts/hmrc-self-assessment-tax-returns-accountant/page_client-reference-manifest.js
.next/server/app/accounts/management-accounts/page.js
.next/server/app/accounts/management-accounts/page.js.nft.json
.next/server/app/accounts/management-accounts/page_client-reference-manifest.js
.next/server/app/accounts/page.js
.next/server/app/accounts/page.js.nft.json
.next/server/app/accounts/page_client-reference-manifest.js
.next/server/app/accounts/payroll-services/page.js
.next/server/app/accounts/payroll-services/page.js.nft.json
.next/server/app/accounts/payroll-services/page_client-reference-manifest.js
.next/server/app/accounts/statutory-accounts/page.js
.next/server/app/accounts/statutory-accounts/page.js.nft.json
.next/server/app/accounts/statutory-accounts/page_client-reference-manifest.js
.next/server/app/awards-accolades-accreditations/page.js
.next/server/app/awards-accolades-accreditations/page.js.nft.json
.next/server/app/awards-accolades-accreditations/page_client-reference-manifest.js
.next/server/app/banks/page.js
.next/server/app/banks/page.js.nft.json
.next/server/app/banks/page_client-reference-manifest.js
.next/server/app/blog/page.js
.next/server/app/blog/page.js.nft.json
.next/server/app/blog/page_client-reference-manifest.js
.next/server/app/company-formation/page.js
.next/server/app/company-formation/page.js.nft.json
.next/server/app/company-formation/page_client-reference-manifest.js
.next/server/app/company-secretarial/page.js
.next/server/app/company-secretarial/page.js.nft.json
.next/server/app/company-secretarial/page_client-reference-manifest.js
.next/server/app/contact-us/page.js
.next/server/app/contact-us/page.js.nft.json
.next/server/app/contact-us/page_client-reference-manifest.js
.next/server/app/employment-agreement/page.js
.next/server/app/employment-agreement/page.js.nft.json
.next/server/app/employment-agreement/page_client-reference-manifest.js
.next/server/app/legal/page.js
.next/server/app/legal/page.js.nft.json
.next/server/app/legal/page_client-reference-manifest.js
.next/server/app/packages/charities-pricing/page.js
.next/server/app/packages/charities-pricing/page.js.nft.json
.next/server/app/packages/charities-pricing/page_client-reference-manifest.js
.next/server/app/packages/charities/page.js
.next/server/app/packages/charities/page.js.nft.json
.next/server/app/packages/charities/page_client-reference-manifest.js
.next/server/app/packages/contractor-ltd-pricing/page.js
.next/server/app/packages/contractor-ltd-pricing/page.js.nft.json
.next/server/app/packages/contractor-ltd-pricing/page_client-reference-manifest.js
.next/server/app/packages/contractor-ltd/page.js
.next/server/app/packages/contractor-ltd/page.js.nft.json
.next/server/app/packages/contractor-ltd/page_client-reference-manifest.js
.next/server/app/packages/landlords-3/page.js
.next/server/app/packages/landlords-3/page.js.nft.json
.next/server/app/packages/landlords-3/page_client-reference-manifest.js
.next/server/app/packages/landlords/page.js
.next/server/app/packages/landlords/page.js.nft.json
.next/server/app/packages/landlords/page_client-reference-manifest.js
.next/server/app/packages/ltd-company-pricing/page.js
.next/server/app/packages/ltd-company-pricing/page.js.nft.json
.next/server/app/packages/ltd-company-pricing/page_client-reference-manifest.js
.next/server/app/packages/ltd-company/page.js
.next/server/app/packages/ltd-company/page.js.nft.json
.next/server/app/packages/ltd-company/page_client-reference-manifest.js
.next/server/app/packages/sole-trader-pricing/page.js
.next/server/app/packages/sole-trader-pricing/page.js.nft.json
.next/server/app/packages/sole-trader-pricing/page_client-reference-manifest.js
.next/server/app/packages/sole-trader/page.js
.next/server/app/packages/sole-trader/page.js.nft.json
.next/server/app/packages/sole-trader/page_client-reference-manifest.js
.next/server/app/packages/spvs-ltd-pricing/page.js
.next/server/app/packages/spvs-ltd-pricing/page.js.nft.json
.next/server/app/packages/spvs-ltd-pricing/page_client-reference-manifest.js
.next/server/app/packages/spvs-ltd/page.js
.next/server/app/packages/spvs-ltd/page.js.nft.json
.next/server/app/packages/spvs-ltd/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/page.js.nft.json
.next/server/app/page_client-reference-manifest.js
.next/server/app/privacy-policy/page.js
.next/server/app/privacy-policy/page.js.nft.json
.next/server/app/privacy-policy/page_client-reference-manifest.js
.next/server/app/refer-a-friend/page.js
.next/server/app/refer-a-friend/page.js.nft.json
.next/server/app/refer-a-friend/page_client-reference-manifest.js
.next/server/app/refer-and-earn/page.js
.next/server/app/refer-and-earn/page.js.nft.json
.next/server/app/refer-and-earn/page_client-reference-manifest.js
.next/server/app/registered-address/page.js
.next/server/app/registered-address/page.js.nft.json
.next/server/app/registered-address/page_client-reference-manifest.js
.next/server/app/schedule-a-phone-call-or-video-meeting/page.js
.next/server/app/schedule-a-phone-call-or-video-meeting/page.js.nft.json
.next/server/app/schedule-a-phone-call-or-video-meeting/page_client-reference-manifest.js
.next/server/app/share-transfer/page.js
.next/server/app/share-transfer/page.js.nft.json
.next/server/app/share-transfer/page_client-reference-manifest.js
.next/server/app/software/page.js
.next/server/app/software/page.js.nft.json
.next/server/app/software/page_client-reference-manifest.js
.next/server/app/switch-accountant/page.js
.next/server/app/switch-accountant/page.js.nft.json
.next/server/app/switch-accountant/page_client-reference-manifest.js
.next/server/app/taxation/company-tax-return-accountants/page.js
.next/server/app/taxation/company-tax-return-accountants/page.js.nft.json
.next/server/app/taxation/company-tax-return-accountants/page_client-reference-manifest.js
.next/server/app/taxation/cryptocurrency/page.js
.next/server/app/taxation/cryptocurrency/page.js.nft.json
.next/server/app/taxation/cryptocurrency/page_client-reference-manifest.js
.next/server/app/taxation/emi-schemes/page.js
.next/server/app/taxation/emi-schemes/page.js.nft.json
.next/server/app/taxation/emi-schemes/page_client-reference-manifest.js
.next/server/app/taxation/inheritance-tax-planning/page.js
.next/server/app/taxation/inheritance-tax-planning/page.js.nft.json
.next/server/app/taxation/inheritance-tax-planning/page_client-reference-manifest.js
.next/server/app/taxation/let-property-campaign/page.js
.next/server/app/taxation/let-property-campaign/page.js.nft.json
.next/server/app/taxation/let-property-campaign/page_client-reference-manifest.js
.next/server/app/taxation/page.js
.next/server/app/taxation/page.js.nft.json
.next/server/app/taxation/page_client-reference-manifest.js
.next/server/app/taxation/personal-income-tax-professionals-and-chartered-accountants/page.js
.next/server/app/taxation/personal-income-tax-professionals-and-chartered-accountants/page.js.nft.json
.next/server/app/taxation/personal-income-tax-professionals-and-chartered-accountants/page_client-reference-manifest.js
.next/server/app/taxation/vat-accountants/page.js
.next/server/app/taxation/vat-accountants/page.js.nft.json
.next/server/app/taxation/vat-accountants/page_client-reference-manifest.js
.next/server/app/taxation/worldwide-disclosure-facility/page.js
.next/server/app/taxation/worldwide-disclosure-facility/page.js.nft.json
.next/server/app/taxation/worldwide-disclosure-facility/page_client-reference-manifest.js
.next/server/middleware-build-manifest.js
.next/server/pages/500.html
.next/server/server-reference-manifest.json
.next/trace
.next/trace-build
*.json
.next/app-path-routes-manifest.json
.next/build-manifest.json
.next/BUILD_ID
.next/cache/.previewinfo
.next/cache/.rscinfo
.next/prerender-manifest.json
.next/required-server-files.js
.next/required-server-files.json
.next/server/app-paths-manifest.json
.next/server/app/_global-error.html
.next/server/app/_global-error.rsc
.next/server/app/_global-error.segments/_full.segment.rsc
.next/server/app/_global-error.segments/_head.segment.rsc
.next/server/app/_global-error.segments/_index.segment.rsc
.next/server/app/_global-error.segments/_tree.segment.rsc
.next/server/app/_global-error/page_client-reference-manifest.js
.next/server/app/_not-found/page.js
.next/server/app/_not-found/page.js.nft.json
.next/server/app/_not-found/page_client-reference-manifest.js
.next/server/app/about-us/page.js
.next/server/app/about-us/page.js.nft.json
.next/server/app/about-us/page_client-reference-manifest.js
.next/server/app/accounts/annual-accounts/page.js
.next/server/app/accounts/annual-accounts/page.js.nft.json
.next/server/app/accounts/annual-accounts/page_client-reference-manifest.js
.next/server/app/accounts/auto-enrolment-pension-contributions/page.js
.next/server/app/accounts/auto-enrolment-pension-contributions/page.js.nft.json
.next/server/app/accounts/auto-enrolment-pension-contributions/page_client-reference-manifest.js
.next/server/app/accounts/bookkeeping-services/page.js
.next/server/app/accounts/bookkeeping-services/page.js.nft.json
.next/server/app/accounts/bookkeeping-services/page_client-reference-manifest.js
.next/server/app/accounts/cash-flow-forecasting/page.js
.next/server/app/accounts/cash-flow-forecasting/page.js.nft.json
.next/server/app/accounts/cash-flow-forecasting/page_client-reference-manifest.js
.next/server/app/accounts/consolidated-accounts/page.js
.next/server/app/accounts/consolidated-accounts/page.js.nft.json
.next/server/app/accounts/consolidated-accounts/page_client-reference-manifest.js
.next/server/app/accounts/financial-forecasting/page.js
.next/server/app/accounts/financial-forecasting/page.js.nft.json
.next/server/app/accounts/financial-forecasting/page_client-reference-manifest.js
.next/server/app/accounts/hmrc-self-assessment-tax-returns-accountant/page.js
.next/server/app/accounts/hmrc-self-assessment-tax-returns-accountant/page.js.nft.json
.next/server/app/accounts/hmrc-self-assessment-tax-returns-accountant/page_client-reference-manifest.js
.next/server/app/accounts/management-accounts/page.js
.next/server/app/accounts/management-accounts/page.js.nft.json
.next/server/app/accounts/management-accounts/page_client-reference-manifest.js
.next/server/app/accounts/page.js
.next/server/app/accounts/page.js.nft.json
.next/server/app/accounts/page_client-reference-manifest.js
.next/server/app/accounts/payroll-services/page.js
.next/server/app/accounts/payroll-services/page.js.nft.json
.next/server/app/accounts/payroll-services/page_client-reference-manifest.js
.next/server/app/accounts/statutory-accounts/page.js
.next/server/app/accounts/statutory-accounts/page.js.nft.json
.next/server/app/accounts/statutory-accounts/page_client-reference-manifest.js
.next/server/app/awards-accolades-accreditations/page.js
.next/server/app/awards-accolades-accreditations/page.js.nft.json
.next/server/app/awards-accolades-accreditations/page_client-reference-manifest.js
.next/server/app/banks/page.js
.next/server/app/banks/page.js.nft.json
.next/server/app/banks/page_client-reference-manifest.js
.next/server/app/blog/page.js
.next/server/app/blog/page.js.nft.json
.next/server/app/blog/page_client-reference-manifest.js
.next/server/app/company-formation/page.js
.next/server/app/company-formation/page.js.nft.json
.next/server/app/company-formation/page_client-reference-manifest.js
.next/server/app/company-secretarial/page.js
.next/server/app/company-secretarial/page.js.nft.json
.next/server/app/company-secretarial/page_client-reference-manifest.js
.next/server/app/contact-us/page.js
.next/server/app/contact-us/page.js.nft.json
.next/server/app/contact-us/page_client-reference-manifest.js
.next/server/app/employment-agreement/page.js
.next/server/app/employment-agreement/page.js.nft.json
.next/server/app/employment-agreement/page_client-reference-manifest.js
.next/server/app/legal/page.js
.next/server/app/legal/page.js.nft.json
.next/server/app/legal/page_client-reference-manifest.js
.next/server/app/packages/charities-pricing/page.js
.next/server/app/packages/charities-pricing/page.js.nft.json
.next/server/app/packages/charities-pricing/page_client-reference-manifest.js
.next/server/app/packages/charities/page.js
.next/server/app/packages/charities/page.js.nft.json
.next/server/app/packages/charities/page_client-reference-manifest.js
.next/server/app/packages/contractor-ltd-pricing/page.js
.next/server/app/packages/contractor-ltd-pricing/page.js.nft.json
.next/server/app/packages/contractor-ltd-pricing/page_client-reference-manifest.js
.next/server/app/packages/contractor-ltd/page.js
.next/server/app/packages/contractor-ltd/page.js.nft.json
.next/server/app/packages/contractor-ltd/page_client-reference-manifest.js
.next/server/app/packages/landlords-3/page.js
.next/server/app/packages/landlords-3/page.js.nft.json
.next/server/app/packages/landlords-3/page_client-reference-manifest.js
.next/server/app/packages/landlords/page.js
.next/server/app/packages/landlords/page.js.nft.json
.next/server/app/packages/landlords/page_client-reference-manifest.js
.next/server/app/packages/ltd-company-pricing/page.js
.next/server/app/packages/ltd-company-pricing/page.js.nft.json
.next/server/app/packages/ltd-company-pricing/page_client-reference-manifest.js
.next/server/app/packages/ltd-company/page.js
.next/server/app/packages/ltd-company/page.js.nft.json
.next/server/app/packages/ltd-company/page_client-reference-manifest.js
.next/server/app/packages/sole-trader-pricing/page.js
.next/server/app/packages/sole-trader-pricing/page.js.nft.json
.next/server/app/packages/sole-trader-pricing/page_client-reference-manifest.js
.next/server/app/packages/sole-trader/page.js
.next/server/app/packages/sole-trader/page.js.nft.json
.next/server/app/packages/sole-trader/page_client-reference-manifest.js
.next/server/app/packages/spvs-ltd-pricing/page.js
.next/server/app/packages/spvs-ltd-pricing/page.js.nft.json
.next/server/app/packages/spvs-ltd-pricing/page_client-reference-manifest.js
.next/server/app/packages/spvs-ltd/page.js
.next/server/app/packages/spvs-ltd/page.js.nft.json
.next/server/app/packages/spvs-ltd/page_client-reference-manifest.js
.next/server/app/page.js
.next/server/app/page.js.nft.json
.next/server/app/page_client-reference-manifest.js
.next/server/app/privacy-policy/page.js
.next/server/app/privacy-policy/page.js.nft.json
.next/server/app/privacy-policy/page_client-reference-manifest.js
.next/server/app/refer-a-friend/page.js
.next/server/app/refer-a-friend/page.js.nft.json
.next/server/app/refer-a-friend/page_client-reference-manifest.js
.next/server/app/refer-and-earn/page.js
.next/server/app/refer-and-earn/page.js.nft.json
.next/server/app/refer-and-earn/page_client-reference-manifest.js
.next/server/app/registered-address/page.js
.next/server/app/registered-address/page.js.nft.json
.next/server/app/registered-address/page_client-reference-manifest.js
.next/server/app/schedule-a-phone-call-or-video-meeting/page.js
.next/server/app/schedule-a-phone-call-or-video-meeting/page.js.nft.json
.next/server/app/schedule-a-phone-call-or-video-meeting/page_client-reference-manifest.js
.next/server/app/share-transfer/page.js
.next/server/app/share-transfer/page.js.nft.json
.next/server/app/share-transfer/page_client-reference-manifest.js
.next/server/app/software/page.js
.next/server/app/software/page.js.nft.json
.next/server/app/software/page_client-reference-manifest.js
.next/server/app/switch-accountant/page.js
.next/server/app/switch-accountant/page.js.nft.json
.next/server/app/switch-accountant/page_client-reference-manifest.js
.next/server/app/taxation/company-tax-return-accountants/page.js
.next/server/app/taxation/company-tax-return-accountants/page.js.nft.json
.next/server/app/taxation/company-tax-return-accountants/page_client-reference-manifest.js
.next/server/app/taxation/cryptocurrency/page.js
.next/server/app/taxation/cryptocurrency/page.js.nft.json
.next/server/app/taxation/cryptocurrency/page_client-reference-manifest.js
.next/server/app/taxation/emi-schemes/page.js
.next/server/app/taxation/emi-schemes/page.js.nft.json
.next/server/app/taxation/emi-schemes/page_client-reference-manifest.js
.next/server/app/taxation/inheritance-tax-planning/page.js
.next/server/app/taxation/inheritance-tax-planning/page.js.nft.json
.next/server/app/taxation/inheritance-tax-planning/page_client-reference-manifest.js
.next/server/app/taxation/let-property-campaign/page.js
.next/server/app/taxation/let-property-campaign/page.js.nft.json
.next/server/app/taxation/let-property-campaign/page_client-reference-manifest.js
.next/server/app/taxation/page.js
.next/server/app/taxation/page.js.nft.json
.next/server/app/taxation/page_client-reference-manifest.js
.next/server/app/taxation/personal-income-tax-professionals-and-chartered-accountants/page.js
.next/server/app/taxation/personal-income-tax-professionals-and-chartered-accountants/page.js.nft.json
.next/server/app/taxation/personal-income-tax-professionals-and-chartered-accountants/page_client-reference-manifest.js
.next/server/app/taxation/vat-accountants/page.js
.next/server/app/taxation/vat-accountants/page.js.nft.json
.next/server/app/taxation/vat-accountants/page_client-reference-manifest.js
.next/server/app/taxation/worldwide-disclosure-facility/page.js
.next/server/app/taxation/worldwide-disclosure-facility/page.js.nft.json
.next/server/app/taxation/worldwide-disclosure-facility/page_client-reference-manifest.js
.next/server/middleware-build-manifest.js
.next/server/pages/500.html
.next/server/server-reference-manifest.json
.next/trace
.next/trace-build
